table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Alternating row colors */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Header row style */
th {
  background-color: #5288ac;
  color: white;
}
.api{
  padding-left: 12rem;
}